*{
    margin=0;
    padding: 0;
    box-sizing: border-box;
    font-family:fantasy
    text-align: center;
    
}
body{
    background-color: rgb(247, 218, 160);
    text-align: center;}
.header.logo.color{
    font-weight: bold;
    font-size: 2,5rem;
    font-family:"yelowtail";
    text-shadow: 0 0 35px white;
}
.header{
    height: 45mp;
    color:white
    text-align: center;

}
.header img{
    text-align: center;
    width: 200px;
    border: solid 3px white;
    border: radius 300%;
    }
.texto{
    padding-top: 40px ;
    background-color:rgb(237, 209, 195)

}
#titulo{
    position:relative;
    text-align: center;
    background-color: hwb(35 49% 17%);
    padding: 100px 0 10px 0;
    justify-content: center;
    width: auto;
    font-size:3rem;
    background-color:rgb(151, 116, 89)
    

    letter-spacing: 5mp;
    }
.main{
    height:auto;
    padding: 300px,200px 25px;
    background-color:rgb(226, 144, 104)
    box-shadow: 0 0 20px #fff;

}
.sección{
    margin:auto;
    padding:10px 10px;
    padding-bottom: 50px
    box-shadow:1px 1px 10px chocolate
    text-align: center;
}
.icons{
    padding:20px 0 ;
    color:brown
   

}
.icons i{
    margin:0 5px;
    cursor:pointer
}
.sección article{
    margin-bottom:10px ;
    text-align: center;
    background-color: brown;
    font-family:"yelowtail"
}
.btns{
    padding:20px 300px
    cursor:pointer

    
}
.contenido{
    margin: 50mp 0mp ;
}
.contenido h3{
    color: brown;
    background-color: blanchedalmond;
    text-align: center;
    font-family:monospace;
}